@tailwind base;
@tailwind components;
@tailwind utilities;

/* .animate-jump-in {
    @apply animate-jump-in animate-once animate-ease-in-out animate-normal animate-fill-forwards;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.low-quality-image {
    image-rendering: -webkit-crisp-edges; /* For Chrome, Safari, and newer versions of Edge */
    image-rendering: crisp-edges; /* For Firefox */
    image-rendering: pixelated; /* For other browsers that support the property */
}
